{% assign products = site.products | where:true, post.published %}

{%- if products.size > 0 -%}
  <ul class="product-list">
    {%- for product in products -%}
    <li class="product-list-item">
      <a class="product-link" href="{{ product.url | relative_url }}">
        <img class="product-img" src="{{ product.img_url }}" alt="{{ product.img_alt }}" />
        <span class="product-title">{{ product.title | escape }}</span>
        <span class="product-price">{{ product.price }}</span>
      </a>
    </li>
    {%- endfor -%}
  </ul>
{%- else -%}
  <p>No products here...</p>
{%- endif -%}
