.members {
  .member-list {
    list-style: none;

    li {
      padding: 15px;
      border-bottom: 1px solid #ccc;

      &:hover {
        border-radius: 10px;
        background-color: #ccc;
      }
    }

    .member-link {
      display: block;
      width: 100%;

      &:hover, &:active, &:visited {
        text-decoration: none;
      }

      .member-avatar {
        width: 100px;
      }

      .member-name {
        font-size: 30px;
      }
    }
  }
}

.member {
  .member-avatar {
    float: right;
    max-width: 25%;
  }

  .member-content {
    width: 75%;
  }
}
